.bg-img {
  /* The image used */
  background-image: url('nature.jpg');
  min-height: 620px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.container1{
  color:#09471c;
  margin-top: 20px;
  border-width: 10px;
  padding: 10px;
  border-style: solid;
  border-color:#936512; 
  background: #96b079;
  font-family:Georgia; 
  
}

.container2{
  border-width: 10px;
  border-style: solid;
  border-color:  #8b742b; 
  color: #4a1304;
  margin-top: 20px;
  padding: 10px;
  background: #aca1a1;
  font-family:Garamond; 
  font-size:medium;
  
}

hr.new{
  border: 1px solid olive;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1{
  width: 300px;
  background-color:#008CBA; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  width: 300px;
  background-color:#283050;
  color: white;
}


.footer {

    padding: 10px;
    background-color: #101010;
    color:#9d9d9d;
    text-align: center;
   
}




